{% load i18n %}
{% load basic %}
{% load widgets %}
{% load staticfiles %}
{% load url from future %}
{% load browserid %}

<div class="pull-left topbar-user topbar-section">

</div>

<div class="pull-right topbar-section">
    <ul class='nav'>
        <li><a href={% url 'show-ads' %}>{% trans "ads" %}</a></li>
        <li><a href={% url 'main.server.pages.about' %}>{% trans "about" %}</a></li>
        <li><a href={% url 'main.server.pages.faq' %}>{% trans "faq" %}</a></li>
        <li><a href={% url 'main.server.pages.rss' %}>{% trans "rss" %}</a></li>
    </ul>
</div>
